body {
    overflow-x: hidden;
    background-color: grey;
}

p {
    margin: 10px 0;
}

main {
    height: 510px;
}

i {
    vertical-align: middle;
}

.search {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    flex-flow: row wrap;
    align-content: center;
}

.search-input {
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid #fff;
    outline: none;
    flex: 5;
}

.search-button {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    flex: 1;
}

.search-button:hover {
    color: #cc181e;
}

.slides {
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    transition-duration: 1s;
}

.slide {
    position: absolute;
    width: 100%;
    height: inherit;
}

.videos {
    display: flex;
    box-sizing: border-box;
    height: inherit;
    padding: 20px;
    list-style: none;
    justify-content: space-around;
}

.videos li {
    width: 250px;
    margin: 10px;
    padding: 15px;
    cursor: default;
    border: 3px solid #000;
    border-radius: 45px;
    background: #fff;
}

.videos > li:hover {
    border-color: #cc181e;
}

.title-video {
    position: absolute;
    z-index: 10;
    width: 250px;
    background: rgba(199, 231, 250, .8);
}

.title-video a {
    cursor: pointer;
    text-decoration: none;
}

.title-video a:hover {
    text-decoration: underline;
    color: #cc181e;
}

.title-video h3 {
    margin: 5px 0;
    text-align: center;
    color: #cc181e;
}

.img {
    height: 180px;
}

.info {
    overflow: hidden;
    height: 125px;
}

.channel {
    font-size: 20px;
    height: 30px;
    text-align: center;
    white-space: nowrap;
    background-color: #cc181e;
}

.description {
    font-size: 15px;
}

.text {
    display: inline-block;
    overflow: hidden;
    margin: 0 5px;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.pages {
    width: 460px;
    margin: auto;
    padding: 0;
}

.pages li {
    font-size: 25px;
    display: inline-block;
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    color: #cc181e;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.pages li a {
    font-size: 35px;
    line-height: 50px;
    display: block;
    text-align: center;
}

.pages li:hover {
    background: pink;
}

.active {
    color: #fff !important;
    background: #cc181e !important;
}


/*	cc181e	*/
